:root{
    --red: #E50914;
    --black: #141414;
}

/* Reset CSS */ 
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--black);
    font-family: 'Arial', Times, serif;
    font-size: 14px;
    color: white;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

/* 
*

Header START

*
*/

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo > a {
    color: var(--red);
    font-family: 'Arial Black';
    text-align: left;
    font-size: 2.85rem;
}

/* a */
header nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header nav a {
    color: #AAA;
}

header nav a:hover {
    color: #fff;
}



/* 
*

Main movie START

*
*/
main h3, main .main-button {
    text-transform: uppercase;
}

main .main-movie .container {
    width: 50%;
}

main .main-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.875rem;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%)
    ,url("../img/capa-himym.jpg");
    height: 400px;
    /* This image does not overflow from the box */
    background-size: cover;
}

main .description {
    margin-bottom: 6.42rem;
    margin-top: 10px;
}

main .title {
    margin-top: 10%;
    font-size: 2.50rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .main-buttons {
    display: flex;
}

main .main-button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 1rem 2rem;
    margin-right: 5px;
    font-size: 0.9rem;

    cursor: pointer;
    transition: .3s ease all;
}

main .main-button:hover {
    background-color: white;
    color: black;
}

main .main-button i {
    margin-right: 8px;
}


/* 
*

carousel movie START

*
*/

.movie-carousel {
    margin-top: 10px;
}

.movie-box {
    height: 100%;
    width: 100%;
    display: block;
    
}